<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.example.bataillenavale.entity.Case" />
        <mapping class="com.example.bataillenavale.entity.Grille" />
        <mapping class="com.example.bataillenavale.entity.Jeu" />

    </session-factory>
</hibernate-configuration>
